name = "ClimaParams"
uuid = "5c42b081-d73a-476f-9059-fd94b934656c"
authors = ["Climate Modeling Alliance"]
version = "0.10.14"

[deps]
TOML = "fa267f1f-6049-4f14-aa54-33bafae1ed76"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[compat]
julia = "1"
TOML = "1"
Test = "1"
